@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #e0e0e0;
}

/* handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.margins { 
  padding: 0 10px 0 10px;
}

.left-half {
  display: flex;
  justify-content: flex-start; /* Center horizontally */
  align-items: center;
  width: 70vw;
  height: 92.2vh;
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.right-half {
  display: flex;
  justify-content: flex-start; /* Center horizontally */
  align-items: center;
  width: 80vw;
  height: 92.2vh;
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 8%, rgba(252,176,69,1) 100%);
  transform: skew(-45deg); 
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.right-half img {
  transform: scale(0.3) skew(45deg) translateX(350px); 
  transition: all 0.3s ease-in-out;
}

.left-half img {
  transform: scale(0.3) translateX(100px); 
  transition: all 0.3s ease-in-out;
}

.left-half:hover {
  /* opacity: 0.5;
  transition: opacity 0.3s ease-in-out; */
  /* filter: blur(90px); */
  box-shadow: inset 50px 50px 100px rgba(0, 0, 0, 0.75);


}

.right-half:hover {
  /* background: linear-gradient(to bottom left, rgba(255, 0, 255, 0.5), rgba(0, 255, 255, 0.5)); */
  
  box-shadow: inset 50px 50px 100px rgba(0, 0, 0, 0.9);
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* black with 50% transparency */
  display: none;
}

.right-half:hover .overlay {
  display: block;
}


/* .left-half:hover {
  filter: blur(20px);
}

.right-half:hover {
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  filter: blur(10px);
}
 */